# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
# storage file
file.txt
# text files
*.txt
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener
cmd/shortener/multichecker
cmd/reset/main
gen
shortener


# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
